<!-- Loop over each object in the blogPosts array -->
{{#each blogPosts as |blogPost| }}
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Tech</strong>
          <h3 class="mb-0">{{blogPost.title}}</h3>
          <div class="mb-1 text-body-secondary">Created by {{blogPost.user.name}} on {{format_date blogPost.date_created}}</div>
          <a href="/blogPost/{{blogPost.id}}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
{{/each}}